{% extends 'base/base.html'%}
{% block title %}<title>Review nào!</title>{% endblock %}
{% block content %}
    <title>Review nào!</title>
    <div>
        <p>Tiêu đề bài reivew</p>
        <input id='title-review' type ='text' placeholder='Tiêu đề bài reivew'>
        <p>Nội dung bài review</p>
        <input id='content-review' type='text' placeholder='Review một cái quần què gì đó'></input>
        <button id='create-reivew' onclick='create_review()'>Đăng bài ngay</button>
</div>

<script>
    function create_review()
        {

            var title = $("#title-review").val().trim()
            var content = $("#content-review").val().trim()
            if(title==='')
                {
                    window.alert("Tiêu đề của bài Review không được để trống")
                }
            else if(content==='')
                {
                    window.alert("Nội dung của bài Review không được để trống")
                }
            else
                {
                    $.ajax({
                        url: '{% url "create_review_post" %}',
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken':'{{ csrf_token }}',
                            'title': title,
                            'content': content
                        }
                    })
                }
        }
</script>

{% endblock %}