{% extends 'base/base.html'%}
{% block content %}
    <div>
        <p>Tiêu đề cho bài tuyển dụng!</p>
        <input id='recruitment-title' placeholder="Tiêu đề bài tuyển dụng">
        <p>Bạn muốn tuyển dụng nhân viên cho vị trí nào?</p>
        <div id='type-category'>
            <select id='category-job'>
                {% for type in category %}
                    <option value ="{{type.id}}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button id="change_category" onclick="change_category()">Công việc của bạn không nằm trong danh sách?</button>

        
        <div id='range'>
            <input id='down-range' placeholder="Từ"><span> -</span>
            <input id='top-range' placeholder="Đến">
        </div>

        <button id="change_range" onclick="change_range()">Bạn không muốn đề cập tới mức lương cụ thể?</button>
        </br>
        <p>Mô tả cho công việc mà bạn muốn tuyển dụng</p>
        <textarea  id='recruitment-content'></textarea>
        </br>
        <button id='create-recruitment' onclick='create_recruiment()'>Đăng bài ngay</button>
</div>

<script>
    function change_range()
        {
            if ($("#change_range").text()==="Bạn không muốn đề cập tới mức lương cụ thể?")
                {
                    $("#change_range").text("Thêm mức lương cụ thể")
                    $("#range").html("<input id='range-wage' placeholder='vd: trao đổi cụ thể khi phỏng vấn...'>")
                }
            else
                {
                    $("#change_range").text("Bạn không muốn đề cập tới mức lương cụ thể?")
                    $("#range").html("<input id='down-range'><span> -</span><input id='top-range'>")
                }
        }
    function change_category()
        {
            if( $("#change_category").text() === "Công việc của bạn không nằm trong danh sách?" )
                {
                    $("#change_category").text("Chọn một công việc trong danh sách!")
                    $("#type-category").html("<input type='text' id='category-job' placeholder='vd: fuho, thợ chính, cài win dạo...'>")
                }
            else
                {
                    $("#change_category").text("Công việc của bạn không nằm trong danh sách?")
                    $("#type-category").html("<select id='category-job'>{% for type in category %}<option value ='{{type.id}}'>{{ type.name }}</option>{% endfor %}</select>")
                }
        }
    
    function create_recruiment()
        {
            var category_job = $("#category-job").val().trim()
            if ($("#change_range").text()==="Bạn không muốn đề cập tới mức lương cụ thể?")
                {
                    var range = $("#down-range").val().trim() + ' - ' +$("#top-range").val().trim()
                }
            else
                {
                    var range = $("#range-wage").val().trim()
                }
            range = range.trim()
            var title = $("#recruitment-title").val().trim()
            var content = $("#recruitment-content").val().trim()
            if(title==='')
                {
                    window.alert("Tiêu đề của bài tuyển dụng không được để trốn")
                    console.log(1)
                }
            else if(category_job==='')
                {
                    window.alert("Bạn cần phải cung cấp thông tin về vị trí tuyển dụng")
                    console.log(2)
                }
            else if(range===''||/^-/.test(range)||/-$/.test(range))
                {
                    window.alert("Bạn cần phải cung cấp thông tin về mức lương")
                    console.log(3)
                }
            else if(content==='')
                {
                    window.alert("Nội dung của bài tuyển dụng không được để trống")
                    console.log(4)
                }
            else
                {
                    $.ajax({
                        url: '{% url "create_recruitment_post" %}',
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken':'{{ csrf_token }}',
                            'title': title,
                            'range': range,
                            'content': content,
                            'type': category_job
                        }
                    })
                }
        }
</script>

{% endblock %}